@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --darkGray : hsl(0, 0%, 63%);
}

body {
    font-family: 'Spartan', sans-serif; 
}

.flex {
    display: flex;
}

.nav-top {
    position: absolute;
    top: 2rem;
    width: 100%;
    justify-content: space-around;
}

.bg {
    height: 400px;
}

.bg, 
.bg2, 
.bg3 {
    object-fit: cover;
    width: 100%;
}

.bg2, 
.bg3 {
    height: 100%;
}

.arrow-wrap-mobile,
.arrow-wrap-desktop {
    background-color: #000;
    width: 5.5rem;
    height: 3rem;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 22rem;
    right: 0;
}

.arrow-wrap-desktop {
    display: none;
}

a {
    text-decoration: none;
}

.show-links {
    position: fixed;
    z-index: 9999;
    height: 7rem;
    width: 100vw;
    top: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

#close-icon {
    position: relative;
    top: 0;
    left: 0;
    margin-right: 3rem;
}

nav {
    overflow: hidden;
    height: 0;
    /*position: relative;*/
}

.nav-items {
    list-style-type: none;
    display: flex;
}

.nav-items>li>a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 14px;
    padding: 0 0.5rem;
}

.about-us, 
.about-product {
    background-color: #fff;
    padding: 4rem 2rem;
}

.about-us h1 {
    font-weight: 700;
    font-size: 1.4rem;
}

p {
    color: var(--darkGray);
    font-size: 13px;
    line-height: 1.7;
}

.about-us p {
    padding: 1rem 0 3rem;
}

.about-product p {
    padding-top: 1rem;
}

.cta {
    align-items: baseline;
    height: 2rem;
}

.cta img {
    height: 1rem;
}

.cta p {
    margin-right: 2rem;
    font-weight: 600;
    letter-spacing: 11px;
    color: #000;
} 

h5 {
    letter-spacing: 5px;
}


@media screen and (min-width: 700px) {
    body {
        overflow-x: hidden;
    }

    #hamburger, 
    #close-icon{
        display: none;
    }

    .about-us h1 {
      font-size: 1.7rem;
    }

    nav {
        overflow: visible;
    }

    .nav-items {
        position: absolute;
        top: 3rem;
        left: 10rem;
    }

    .nav-items>li>a {
        color: #fff;
    }

    .nav-top {
        justify-content: flex-start;
        margin: 1.2rem 0 0 4rem;
    }

    .about-us, 
    .about-product {
        width: 70%;
        margin: auto;
    }

    .arrow-wrap-mobile {
        width: 7rem;
    }
  
    p {
      font-size: 14.5px;
     
    }

    h5 {
        font-size: 14.8px;
    }
} 

@media screen and (min-width: 1000px) {
    .bg {
        height: 600px;
    }

    .arrow-wrap-mobile {
        top: 34.5rem
    }

    .about-us, 
    .about-product {
        padding: 6rem 2rem;
        width: 60%;
        margin: auto;
    }
} 

@media screen and (min-width: 1300px) {
    .grid{
        grid-template-columns: auto 40% auto;  
    }

    .grid, .flex-tab {
        display: grid;
    }

    .flex-tab {
        grid-template-columns: 4fr 2fr;
    }

    .about-us {
        padding: 0 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
  
    .arrow-wrap-desktop {
        display: flex;
        left: -2.4rem;
        top: 28.3rem;
    }
  
    .arrow-wrap-mobile {
        display: none;
    }
  
    .bg {
        height: 500px;
        width: 96%;
    }

    .bg2, 
    .bg3 {
        height: 100%;
    }
  
    .about-product {
        padding: 3rem;
    } 
    
    .about-us, 
    .about-product {
        margin: unset;
        width: unset;
    }
}

@media screen and (min-width: 1900px) {
    .bg {
        height: 800px;
        width: 100%;
    }

    .arrow-wrap-desktop {
        left: 0;
        top: 47rem;
    }
}  