@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --darkGray : hsl(0, 0%, 63%);
}

body {
    font-family: 'Spartan', sans-serif; 
}

.flex {
    display: flex;
}

.nav-top {
    position: absolute;
    top: 2rem;
    width: 100%;
    justify-content: space-around;
}

.bg, .bg2, .bg3 {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.arrow-wrap {
    background-color: #000;
    width: 5.5rem;
    height: 3rem;
    align-items: center;
    justify-content: space-around;
}

a {
    text-decoration: none;
}

.show-links {
    position: fixed;
    z-index: 9999;
    height: 7rem;
    width: 100vw;
    top: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #close-icon {
      position: relative;
      top: 0;
      left: 0;
      margin-right: 3rem;
  }

  nav {
    overflow: hidden;
    height: 0;
    /*position: relative;*/
  }

  .nav-items {
      list-style-type: none;
      display: flex;
  }

  .nav-items>li>a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 14px;
    padding: 0 0.5rem;
  }

  .about-us, .about-product {
      background-color: #fff;
      padding: 4rem 2rem;
  }

  .about-us h1 {
      font-weight: 700;
    font-size: 1.4rem;
  }

.about-us > p, .about-product p {
    color: var(--darkGray);
    font-size: 13px;
    line-height: 1.7;
}

.about-us p {
    padding: 1rem 0 3rem;
}

.about-product p {
    padding-top: 1rem;
}

.cta {
    align-items: baseline;
    height: 2rem;
}

.cta img {
    height: 1rem;
}

.cta p {
    margin-right: 2rem;
    font-weight: 600;
    letter-spacing: 11px;
} 

h5 {
    letter-spacing: 5px;
}


@media screen and (min-width: 700px) {
    #hamburger, #close-icon{
        display: none;
    }

    .about-us h1 {
      font-size: 1.7rem;
    }

    nav {
        overflow: visible;
    }

    .nav-items {
        position: absolute;
        top: 3rem;
        left: 10rem;
    }

    .nav-items>li>a {
        color: #fff;
    }

    .nav-top {
        justify-content: flex-start;
        margin: 1.2rem 0 0 4rem;
    }

    .about-us, .about-product {
        padding: 4rem 10rem;
    }
  
  .about-us > p, .about-product p {
      font-size: 14.5px;
  }

  h5 {
      font-size: 14.8px;
  }

  body {
    overflow-x: hidden;
}
} 


@media screen and (min-width: 1000px) {
  .grid{
      display: grid;
      grid-template-columns: auto 600px auto;  
  }  
  
  .bg {
      width: 63%;
  }
  
  .about-us {
      padding: 4rem 3rem 2rem 2rem;
  }

  .bg2, .bg3 {
      height: 100%;
      width: 100%;
  }

  .about-product {
      padding: 3rem;
  }
  
  .flex-tab {
      display: flex;
  }
}

@media screen and (min-width: 1300px) {
    .about-us {
        padding: 4rem;
    }

    .bg {
        width: 57%;
    }
}